body {
  max-width: 1080px;
  margin: 0 auto 0 auto;
  background-color:#ffffff ;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#index-h1{
  font-size: 34px;
  font-weight: bold;
  border: 1px solid black;
  color:#000000 ;
  margin-left:60px;
  margin-bottom:20px;
  padding:0 10px 0 10px;
}

#nav-pc {
  display: flex;
  margin-right:60px;
  margin-bottom:10px;
  list-style:none;
 }

 #nav-pc a{
  text-decoration: none;
  font-size: 34px;
  font-weight: bold;
  color:#000000 ;
 }

#nav-pc li:nth-of-type(2){
  margin-left:36px;
}

#main-photo{
  max-width: 1080px;
  height: 100%;
  width:100%;
}

.index-h2{
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}


/*About*/
#about-flex{
  display: flex;
  justify-content: space-between;
  max-width: 840px;
  margin:0 auto;
}

#about-photo{
  border-radius:50%;
}

#index-h3{
  font-size: 24px;
  font-weight: bold;
  padding-left:10px;
}

#about-explain{
  font-size: 18px;
  margin-top:30px;
}

/*Works*/
#works-flex{
  display: flex;
  justify-content: space-between;
  margin:0 auto;
  max-width: 840px;
} 

.works-explain{
  margin:0 10px;
  width:35%;
}

.works-photo{
  width: 100%;
  margin: 0 auto;
}

.works-explain p{
  text-align: left;
}

#copyright {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

/* 画面幅が767px以下のとき */
@media screen and (max-width: 767px) {
  /* スマートフォン用のスタイルを指定する */

  #index-h1{
    font-size: 18px;
    margin-left:10px;
  }

  #nav-pc {
    margin-right:28px;
    margin-bottom:8px;
   }

  #nav-pc a{
    font-size: 18px;
   }

  #about-flex {
    flex-direction: column; 
    align-items: center;
  }

  #works-flex {
    flex-direction: column;
    align-items: center;
  }

  .works-explain{
    width:95%;
    margin:0 10px;
  }

  .works-explain p{
    text-align: center;
  }
}